<template>
  <Modal :title="(id > 0 ? 'Редактировать' : 'Создать') + ' пользователя'" @close="$emit('close')">

    <el-form :model="form" label-position="left" ref="form" label-width="100px" v-loading="isSending">
      <el-form-item label="ФМО" prop="fio" required>
        <el-input v-model="form.fio"/>
      </el-form-item>

      <el-form-item label="Аватар">
        <input type="file" name="avatar" ref="avatar" accept="image/x-png,image/gif,image/jpeg"/>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="saveOrUpdate">{{ id > 0 ? 'Сохранить' : 'Создать' }}</el-button>
      </el-form-item>
    </el-form>

  </Modal>
</template>

<script>
  import Modal from "@/components/Modal";

  export default {
    name: "createOrUpdateUser",
    components: {Modal},
    props: {
      id: {
        type: Number,
        default: 0
      },
    },
    data() {
      return {
        form: {
          fio: '',
        },

        isSending: false,
      }
    },
    mounted() {
      this.setForm()
    },
    methods: {
      saveOrUpdate() {
        this.$refs['form'].validate((valid) => {
          if (valid) {
            this.isSending = true

            let formData = new FormData();
            if(this.$refs.avatar.files[0]) {
              formData.append('avatar', this.$refs.avatar.files[0])
            }
            formData.append('id', this.id)
            formData.append('fio', this.form.fio)

            this.$store.dispatch('user/createOrUpdateUser', formData)
              .then(result => {
                this.isSending = false
                if(this.id === 0) {
                  this.$root.$emit('created-user', result)
                }
                this.$emit('close')
              })
              .catch(() => this.isSending = false)
          }
        });
      },
      setForm() {
        if (this.id > 0) {
          let user = this.$store.getters['user/getUserById'](this.id)

          this.form = {
            ...this.form,
            ...user,
          }
        }
      },
    },
  }
</script>

<style lang="sass" rel="stylesheets/sass" scoped>

</style>
