<template>
  <Modal :title="(id > 0 ? 'Редактировать' : 'Создать') + ' задачу'" @close="$emit('close')">

    <el-form :model="form" label-position="left" ref="form" label-width="100px" v-loading="isSending">
      <el-form-item label="Название" prop="title" required>
        <el-input v-model="form.title"/>
      </el-form-item>

      <el-form-item label="Описание" prop="description" required>
        <el-input v-model="form.description" type="textarea" maxlength="250" show-word-limit autosize/>
      </el-form-item>

      <el-form-item label="Статус" prop="status" required>
        <el-select
                v-model="form.status"
                style="width: 120px"
                placeholder="Статус">
          <el-option
                  v-for="(label, value) in statuses" :key="`filter-status-${value}`" :label="label" :value="value"/>
        </el-select>
      </el-form-item>

      <el-form-item label="Юзеры" prop="users" required>
        <el-tooltip content="Введите ФИО для поиска" placement="top">
          <el-select
                  v-model="form.users"
                  multiple
                  filterable
                  remote
                  placeholder="Введите имя пользователя"
                  style="width:100%"

                  :remote-method="searchUsers"
                  :loading="isLoadingUsers">
            <el-option
                    v-for="item in users"
                    :key="`task-users-select-${item.id}`"
                    :label="item.fio"
                    :value="item.id"/>
          </el-select>
        </el-tooltip>
      </el-form-item>

      <el-form-item>
        <el-button type="primary" @click="saveOrUpdate">{{ id > 0 ? 'Сохранить' : 'Создать' }}</el-button>
      </el-form-item>
    </el-form>

  </Modal>
</template>

<script>
  import Modal from "@/components/Modal";
  import {TASK_STATUSES} from "@/services/constants"

  export default {
    name: "createOrUpdateTask",
    components: {Modal},
    props: {
      id: {
        type: Number,
        default: 0
      },
    },
    data() {
      return {
        form: {
          title: '',
          description: '',
          status: '',
          users: [],
        },

        isSending: false,
        isLoadingUsers: false,
        userIDs: [],
      }
    },
    mounted() {
      this.setForm()
    },
    methods: {
      saveOrUpdate() {
        this.$refs['form'].validate((valid) => {
          if (valid) {
            this.isSending = true
            this.$store.dispatch('task/createOrUpdateTask', this.form)
              .then(result => {
                this.isSending = false
                if(this.id === 0) {
                  this.$root.$emit('created-task', result)
                }
                this.$emit('close')
              })
              .catch(() => this.isSending = false)
          }
        });
      },
      setForm() {
        if (this.id > 0) {
          let task = this.$store.getters['task/getTaskById'](this.id)

          this.form = {
            ...this.form,
            ...task,
            users: [...task.users]
          }
        }
      },
      searchUsers(search) {
        if (search.length > 0) {
          this.isLoadingUsers = true;
          this.$store.dispatch('user/getUsers', {search})
            .then(result => {
              this.userIDs = [...result.keys]
              this.isLoadingUsers = false
            })
            .catch(() => this.isLoadingUsers = false)
        }
      }
    },
    computed: {
      statuses() {
        return TASK_STATUSES
      },
      users() {
        let users = [...new Set([...this.userIDs, ...this.form.users])]
        return this.$store.getters['user/getUsers'](users)
      }
    },
  }
</script>

<style lang="sass" rel="stylesheets/sass" scoped>

</style>
