<template>
  <Page title="Задачи">
    <template v-slot:buttons>
      <el-input placeholder="Поиск" @keyup.enter.native="getTasks" @clear="getTasks"
                v-model="filter.search" clearable style="width: 250px;">
        <el-button slot="append" icon="el-icon-search" @click="getTasks"></el-button>
      </el-input>
      <el-divider direction="vertical"></el-divider>
      <el-select
              v-model="filter.status"
              style="width: 120px"
              placeholder="Статус"
              @change="getTasks" @clear="getTasks"
              clearable>
        <el-option
                v-for="(label, value) in statuses"
                :key="`filter-status-${value}`"
                :label="label"
                :value="value"/>
      </el-select>
      <el-divider direction="vertical"></el-divider>
      <el-button type="primary" @click="openModalCreateOrUpdateTask(0)">Создать</el-button>
    </template>

    <el-table :data="tasks" width="100%" height="calc(100vh - 150px)" v-loading="isLoading">
      <el-table-column prop="id" label="ID" width="50px"/>
      <el-table-column prop="title" label="Название"/>
      <el-table-column prop="description" label="Описание"/>
      <el-table-column label="Статус" width="100px">
        <template slot-scope="scope">
          {{ statuses[scope.row.status] }}
        </template>
      </el-table-column>
      <el-table-column label="Создана" width="200px">
        <template slot-scope="scope">
          {{ new Date(scope.row.created_at).toLocaleString() }}
        </template>
      </el-table-column>
      <el-table-column label="Действия" width="100px">
        <div style="text-align: right" slot-scope="scope">
          <el-button
                  type="primary"
                  plain size="mini"
                  icon="el-icon-edit"
                  @click="openModalCreateOrUpdateTask(scope.row.id)"/>
        </div>
      </el-table-column>
    </el-table>

    <el-row style="margin-top: 15px;">
      <el-col :span="12" style="text-align: left">
        <el-pagination layout="prev, pager, next"
                       @current-change="getTasks"
                       :current-page.sync="filter.currentPage"
                       :page-count="filter.currentPage"
                       :page-size="perPage"
                       :total="total"/>
      </el-col>
      <el-col :span="12" style="text-align: right">
        Всего: {{ total }}
      </el-col>
    </el-row>
  </Page>
</template>

<script>
  import Page from "@/components/Page";
  import { TASK_STATUSES } from "@/services/constants"

  export default {
    name: "Tasks",
    components: { Page },
    data() {
      return {
        filter: {
          search: '',
          status: null,
          currentPage: 1,
        },

        total: 0,
        perPage: 10,
        isLoading: false,
        taskIDs: [],
      }
    },
    mounted() {
      this.getTasks()
    },
    created() {
      this.$root.$on('created-task', this.getTasks)
    },
    destroyed() {
      this.$root.$off('created-task')
    },
    methods: {
      getTasks() {
        this.isLoading = true

        this.$store.dispatch('task/getTasks', this.filter)
          .then(result => {
            this.taskIDs = [...result.keys]
            this.total = result.pagination.total
            this.filter.currentPage = result.pagination.current_page
            this.filter.perPage = result.pagination.per_page

            this.isLoading = false
          })
          .catch(() => this.isLoading = false)
      }
    },
    computed: {
      tasks() {
        return this.$store.getters['task/getTasks'](this.taskIDs)
      },
      statuses() {
        return TASK_STATUSES
      }
    },
  }
</script>

<style lang="sass" rel="stylesheets/sass" scoped>

</style>
