<template>
  <Page title="Пользователи">
    <template v-slot:buttons>
      <el-input placeholder="Поиск" @keyup.enter.native="getUsers" @clear="getUsers"
                v-model="filter.search" clearable style="width: 250px;">
        <el-button slot="append" icon="el-icon-search" @click="getUsers"></el-button>
      </el-input>
      <el-divider direction="vertical"></el-divider>
      <el-button type="primary" @click="openModalCreateOrUpdateUser(0)">Создать</el-button>
    </template>

    <el-table :data="users" width="100%" height="calc(100vh - 150px)" v-loading="isLoading">
      <el-table-column prop="id" label="ID" width="50px"/>
      <el-table-column label="Аватар" width="90px">
        <template slot-scope="scope">
          <el-avatar :src="scope.row.avatar" icon="el-icon-user-solid"/>
        </template>
      </el-table-column>
      <el-table-column prop="fio" label="ФИО"/>
      <el-table-column label="Действия" width="100px">
        <div style="text-align: right" slot-scope="scope">
          <el-button
                  type="primary"
                  plain size="mini"
                  icon="el-icon-edit"
                  @click="openModalCreateOrUpdateUser(scope.row.id)"/>
        </div>
      </el-table-column>
    </el-table>

    <el-row style="margin-top: 15px;">
      <el-col :span="12" style="text-align: left">
        <el-pagination layout="prev, pager, next"
                       @current-change="getUsers"
                       :current-page.sync="filter.currentPage"
                       :page-count="filter.currentPage"
                       :page-size="perPage"
                       :total="total"/>
      </el-col>
      <el-col :span="12" style="text-align: right">
        Всего: {{ total }}
      </el-col>
    </el-row>
  </Page>
</template>

<script>
  import Page from "@/components/Page";

  export default {
    name: "Users",
    components: { Page },
    data() {
      return {
        filter: {
          search: '',
          currentPage: 1,
        },

        total: 0,
        perPage: 10,
        isLoading: false,
        userIDs: [],
      }
    },
    mounted() {
      this.getUsers()
    },
    created() {
      this.$root.$on('created-user', this.getUsers)
    },
    destroyed() {
      this.$root.$off('created-user')
    },
    methods: {
      getUsers() {
        this.isLoading = true

        this.$store.dispatch('user/getUsers', this.filter)
          .then(result => {
            this.userIDs = [...result.keys]
            this.total = result.pagination.total
            this.filter.currentPage = result.pagination.current_page
            this.filter.perPage = result.pagination.per_page

            this.isLoading = false
          })
          .catch(() => this.isLoading = false)
      }
    },
    computed: {
      users() {
        return this.$store.getters['user/getUsers'](this.userIDs)
      },
    },
  }
</script>

<style lang="sass" rel="stylesheets/sass" scoped>

</style>
