<template>
  <div class="modal">
    <div class="title" v-if="title">{{ title }}</div>
    <el-button class="close" type="text" icon="el-icon-close" @click="$emit('close')"/>

    <div class="content">
      <slot/>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Modal",
    props: {
      title: {
        type: String,
        default: null
      },
    },
  }
</script>

<style lang="scss" rel="stylesheets/scss" scoped>
  .modal {
    position: relative;

    .title {
      font-size: 18px;
      text-align: left;
      padding: 30px 30px 15px;
      border-bottom: 1px solid #e6e6e6;
      margin-bottom: 15px;
    }

    .content {
      padding: 0 30px 30px;
    }

    .footer {
      font-size: 18px;
      text-align: left;
      padding: 15px;
      border-top: 1px solid #e6e6e6;
      background: #fcfcfc;
    }

    .close {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 23px;
    }
  }
</style>
