<template>
  <div class="page">
    <div class="header">
      <div class="title">{{ title }}</div>
      <div class="buttons">
        <slot name="buttons"/>
      </div>
    </div>

    <el-main>
      <slot/>
    </el-main>
  </div>
</template>

<script>
  export default {
    name: "Page",
    props: {
      title: {
        type: String,
        default: ''
      },
    },
  }
</script>

<style lang="scss" rel="stylesheets/scss" scoped>
.page {
  .header {
    padding: 10px 20px;
    height: 61px;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;

    .title {
      text-align: left;
      font-size: 25px;
      padding-top: 3px;
      display: inline-block;
    }

    .buttons {
      text-align: right;
      float: right;
      display: inline-block;
    }
  }
}
</style>
