<template>
  <div id="app">
    <modals-container/>
    <el-container>
      <el-aside width="200px">
        <AsidePanel/>
      </el-aside>
      <el-container>
        <el-main style="padding: 0;">
          <router-view/>
        </el-main>
      </el-container>
    </el-container>
  </div>
</template>

<script>
  import AsidePanel from "./views/layouts/AsidePanel";
  import 'element-ui/lib/theme-chalk/reset.css'

  export default {
    components: { AsidePanel },
  }
</script>

<style>
  body {
    padding: 0;
    margin: 0;
  }
</style>
