<template>
  <div class="side-panel">
    <div class="logo">
      <span class="name">ProjectManager</span>
    </div>

    <el-menu :default-active="$route.name || 'tasks'" router class="el-menu-vertical">
      <el-menu-item index="tasks">
        <i class="el-icon-s-order"></i>
        <span>Задачи</span>
      </el-menu-item>
      <el-menu-item index="users">
        <i class="el-icon-user"></i>
        <span>Пользователи</span>
      </el-menu-item>
    </el-menu>
  </div>
</template>

<script>
  export default {
    name: "AsidePanel",
  }
</script>

<style lang="scss" rel="stylesheets/scss" scoped>
  .side-panel {
    height: 100vh;

    .logo {
      height: 61px;
      border-bottom: 1px solid;
      border-right: 1px solid;
      border-color: #e6e6e6;
      box-sizing: border-box;
      font-size: 19px;
      padding: 18px 13px 13px;
      text-align: center;

      .name {
        color: #00c152;
        margin-right: 5px;
      }
    }

    .el-menu-vertical {
      height: calc(100vh - 61px);
      width: 100%;
      box-sizing: border-box;
    }

    .lang-menu {
      .el-dropdown-link {
        font-size: 12px;
      }

      .lang-list {
        font-size: 14px;
      }
    }
  }
</style>
